{% extends "base.html" %}
{% load static %}

{% block title %}About Us{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'candelight_website/about_page/css/about_page.css' %}">
{% endblock %}

{% block content %}
{% include "candelight_website/header.html" %}

<div class="first-div odd-div">
    <div class="container">
        <img src="{% static 'candelight_website/about_page/images/beautiful-modern-building-modern-architecture.jpg' %}" class="first-div-img" alt="about-page-first-img">
    </div>
</div>

<div>
    <div class="container">
        <div class="first-div-text even-div p-3">
            <p>W Candelight jesteśmy architektami blasku, twórcami iluminacji i dostawcami najnowocześniejszych
                rozwiązań oświetleniowych LED. Z pasją do innowacji i zaangażowaniem w dążenie do doskonałości,
                projektujemy, wdrażamy, produkujemy i dostarczamy różnorodną gamę profesjonalnych rozwiązań
                oświetleniowych dostosowanych do środowisk architektonicznych, przemysłowych, komercyjnych i miejskich.
                Nasze produkty obejmują szerokie spektrum zastosowań oświetleniowych, oferując wszechstronne
                konfiguracje spełniające najbardziej wymagające potrzeby oświetleniowe. Candelight zajmuje się
                opracowywaniem, produkcją i globalną dystrybucją najwyższej klasy rozwiązań oświetleniowych.
                Nasza misja odzwierciedla dążenie do zrównoważonych rozwiązań oświetleniowych,
                które nie tylko zwiększają wydajność, ale także poprawiają samopoczucie ludzi.</p>

            <h5>Wysokooktanowa wydajność i konstrukcja zorientowana na użytkownika:</h5>
            <p>Nasze rozwiązania są skrupulatnie tworzone, aby łączyć wysoką wydajność ze zrównoważonym rozwojem,
                a wszystko to w płaszczu prostoty i łatwości obsługi. Łączymy najnowsze technologie z wieloletnim
                doświadczeniem i prawdziwą troską o naszych klientów i ich zespoły. Na nowo definiujemy krajobraz
                oświetlenia, zapewniając, że nasze rozwiązania wyróżniają się doskonałą wydajnością i
                łatwością użytkowania.</p>

            <h5>Marki premium i dostosowane wsparcie:</h5>
            <p>W naszym portfolio znajdziesz szereg wysokiej jakości marek oświetleniowych.
            Jednak poza markami, naszym głównym celem jest zrozumienie unikalnych potrzeb naszych klientów.
            Niezależnie od tego, czy jest to tętniący życiem zakład produkcyjny, czy nowoczesna przestrzeń biurowa,
                naszą ambicją jest dostarczanie oświetlenia, które nie tylko spełnia, ale przewyższa oczekiwania
                naszych klientów.
            Naszym celem jest poprawa jakości życia w firmach, którym służymy i tworzenie zachęcających środowisk
                dla osób, które w nich pracują.</p>

            <p>Candelight - gdzie innowacja spotyka się z genialnością, a oświetlenie staje się formą sztuki.</p>
        </div>
    </div>
</div>

<div class="odd-div">
    <div class="container">
        <div class="second-div-text p-3">
            <h5>To co nas motywuje</h5>
            <p>Najnowocześniejsze rozwiązania oświetleniowe odgrywają kluczową rolę w naszym życiu.
                W swej istocie jest to opowieść o ludziach. Niezależnie od tego, czy jest to tętniąca życiem fabryka,
                statek morski, czy biuro korporacyjne, oświetlenie powinno być źródłem korzyści dla tych, którzy
                zamieszkują te przestrzenie - podnosząc ich środowisko pracy i pielęgnując pozytywne samopoczucie.
                Strategicznie wykorzystujemy najnowocześniejszą technologię, aby zaaranżować idealną grę światła i
                czasu, zwiększając efektywność energetyczną przy jednoczesnym dbaniu o środowisko. Ten etos napędza
                nas w Candelight, zawarty w naszej nadrzędnej wizji i misji. Nasz kompas jest skalibrowany przez cztery
                podstawowe wartości, które służą jako podstawa naszej tożsamości i regulują sposób, w jaki poruszamy
                się po terenie naszych działań. Zasady te podkreślają nasze niezachwiane zaangażowanie w tworzenie
                rozwiązań oświetleniowych, które wykraczają poza zwykłą funkcjonalność, wzbogacając ludzkie
                doświadczenia w różnych krajobrazach. W Candelight nasze przywiązanie do innowacji i zrównoważonego
                rozwoju nie jest zwykłą obietnicą; to promienna wyprawa w kierunku bardziej oświeconej i świadomej
                przyszłości.</p>
        </div>
    </div>
</div>

<div>
    <div class="container">
        <div class="row even-div">
            <div class="col-lg-6 left-side-split">
                <img src="{% static 'candelight_website/about_page/images/about-page-running-up.jpg' %}" class="split-first-img" alt="split-left-img">
            </div>
            <div class="col-lg-6 split-first-text-div">
                <div class="split-first-text">
                    <h5>Wyzwania:</h5>
                    <p>Przyjmowanie wyzwań jako okazji do rozwoju, dostosowywanie się do zmian i utrzymywanie odporności
                        w obliczu przeciwności losu.
                    </p>
                    <h5>Zrównoważony rozwój:</h5>
                    <p>Zaangażowanie w praktyki odpowiedzialne środowiskowo i społecznie, przyczyniające się do zrównoważonej
                        przyszłości zarówno dla firmy, jak i szerszej społeczności.
                    </p>
                    <h5>Jakość:</h5>
                    <p>Dążenie do doskonałości we wszystkich aspektach produktów, usług i operacji, zapewniając stałą
                        aby spełnić lub przekroczyć oczekiwania klientów.</p>
                    <h5>Współpraca:</h5>
                    <p>Promowanie pracy zespołowej i otwartej komunikacji, uznając zbiorową siłę współpracujących i zróżnicowanych pracowników.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-lg-6 split-second-text-div">
            <div class="split-second-text">
                <h5>Uczciwość:</h5>
                <p>Przestrzeganie uczciwości i etycznego postępowania we wszystkich praktykach biznesowych, budowanie zaufania klientów, pracowników i interesariuszy.</p>
                <h5>Innowacja:</h5>
                <p>Zachęcanie do kreatywności i ciągłego doskonalenia w celu utrzymania przewagi na dynamicznym rynku, promowanie kultury myślenia przyszłościowego.</p>
                <h5>Potrzeby klienta:</h5>
                <p>Priorytetowe traktowanie potrzeb i satysfakcji klientów, dostarczanie wyjątkowych produktów lub usług oraz budowanie silnych, trwałych relacji.</p>
            </div>
        </div>
        <div class="col-lg-6 right-side-split">
            <img src="{% static 'candelight_website/about_page/images/about-page-geometry.jpg' %}" class="split-first-img" alt="split-right-img">
        </div>
    </div>
</div>


{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}
{% endblock %}