{% extends "base.html" %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'candelight_website/contact_page/css/contact_page.css' %}">
{% endblock %}

{% block content %}

{% include "candelight_website/header.html" %}

<div class="container first-container">
    <img src="{% static 'candelight_website/contact_page/images/contact-page-img.jpg' %}" class="first-container-img" alt="realisation-first-image">
    <div class="first-container-text">
        <h1 class="intro-title my-4">Jak możemy ci pomóc?</h1>
        <p class="intro-text py-5">Jesli jesteś zainteresowany naszymi produktami lub usługami, skontaktuj się z nami.</p>
    </div>
</div>
<hr>

<div class="container second-container">
    <div class="row">
        <div class="col-lg-6">
            <h5>Main Office</h5>
            <ul>
                <li>
                    <span>E-mail:</span><a class="email-link" href="mailto:m.krepiniewicz@gmail.com">m.krepiniewicz@gmail.com</a>
                </li>
                <li>
                    <span>Phone:</span><span>+48 600 227 375</span>
                </li>
            </ul>
        </div>
    <div class="col-lg-6">
        <p>
            Warszawa<br><br>

            NIP: <br>
            REGON: <br><br>

            Sąd rejestrowy:<br>
        </p>
    </div>
    </div>
</div>
<hr>

<div class="container">
    <h5>Send us your message:</h5>
    <form action="{% url 'contact_page' %}" method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}
            <br>
            {{ field }}
            {{ field.errors }}
            <br>
        {% endfor %}
        <button class="btn btn-outline-dark">Send</button>
    </form>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}
{% endblock %}