<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 border-top footer-bar mt-auto">
    <p class="col-md-4 mb-0 ">© {{ year }} Candelight All rights reserved</p>
    <p class="justify-content footer-logo">Candelight</p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{% url 'main_page' %}" class="nav-link px-2 footer-bar-buttons">Główna</a></li>
        <li class="nav-item"><a href="{% url 'about_page' %}" class="nav-link px-2 footer-bar-buttons">Informacje</a></li>
        <li class="nav-item"><a href="{% url 'products_page' %}" class="nav-link px-2 footer-bar-buttons">Produkty</a></li>
        <li class="nav-item"><a href="{% url 'realisations_page'%}" class="nav-link px-2 footer-bar-buttons">Realizacje</a></li>
        <li class="nav-item"><a href="{% url 'contact_page' %}" class="nav-link px-2 footer-bar-buttons">Kontakt</a></li>
    </ul>
</footer>