{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'candelight_website/main_page/css/main_page.css' %}">
{% endblock %}

{% block content %}

{% include "candelight_website/header.html" %}

<div id="MainPageCarousel" class="carousel slide carousel-fade mp-carousel" data-bs-ride="carousel">
    <div class="carousel-inner text-adaptation">
        <div class="carousel-item active">
            <img src="{% static 'candelight_website/main_page/images/main-page-carousel-1.jpg' %}" class="d-block w-100 mp-carousel-img" alt="carousel-image-1">
            <div class="carousel-caption d-md-block">
                <p>Lata Doświadczenia</p>
                <p>Nadając blask każdej przestrzeni, nasza firma jest latarnią innowacji w dziedzinie technologii oświetleniowej. Dzięki ponad 25-letniemu doświadczeniu oświetliliśmy drogę dla niezliczonych projektów, nadając obiektom idealny poziom estetyki.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'candelight_website/main_page/images/main-page-carousel-2.jpg' %}" class="d-block w-100 mp-carousel-img" alt="carousel-image-2">
            <div class="carousel-caption d-md-block">
                <p>Lata Oddania</p>
                <p>Od najnowocześniejszych rozwiązań LED po ponadczasowe projekty, nasze zaangażowanie w doskonałość konsekwentnie wyznacza standardy w branży. Dołącz do nas w podróży, która trwa od dziesięcioleci, gdzie światło spotyka się z technologią, aby tworzyć doświadczenia, które inspirują i urzekają.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#MainPageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#MainPageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="empty-room-div">
    <div>
        <img src="{% static 'candelight_website/main_page/images/main-page-carousel-empty-room.jpg' %}" class="empty-room-img" alt="empty-room-img" >
    </div>
    <div class="empty-room-text mx-2">
        <p>Wzbogać swoje otoczenie dzięki naszej szerokiej gamie produktów oświetleniowych, w których jakość spotyka się z różnorodnością. Dzięki ponad 25-letniemu niezachwianemu zaangażowaniu w doskonałość, jesteśmy dumni z oferowania różnorodnego wyboru rozwiązań oświetleniowych, które zaspokoją każdy gust i wymagania. Od współczesnych wzorów po ponadczasowe klasyki, nasze produkty są wykonane z precyzją i nasycone najnowszymi osiągnięciami technologicznymi.</p>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-6 left-side-split">
            <img src="{% static 'candelight_website/main_page/images/main-page-first-div-img.png' %}" class="split-first-img" alt="split-left-img">
        </div>
        <div class="col-lg-6 split-first-text-div">
            <div class="split-first-text">
                <p>Doświadcz Możliwości</p>
                <p>Oświetl swoją przestrzeń z pewnością siebie, wiedząc, że nasze zaangażowanie w jakość zapewnia doskonałe połączenie stylu i trwałości. Poznaj świat możliwości, odkrywając produkty oświetleniowe, które nie tylko rozjaśnią Twoje otoczenie, ale także na nowo zdefiniują Twoje poczucie stylu.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-6 split-second-text-div">
            <div class="split-second-text">
                <p>Jestesmy Gotowi na Twoje Projekty</p>
                <p>Nasze drzwi są zawsze otwarte, a kontakt z nami jest tak prosty, jak kliknięcie lub telefon. Chętnie nawiążemy współpracę, dzięki której Twoja wizja ujrzy światło dzienne. Skontaktuj się z nami bez wysiłku i wyruszmy razem w podróż udanej współpracy</p>
            </div>
        </div>
        <div class="col-lg-6 right-side-split">
            <img src="{% static 'candelight_website/main_page/images/main-page-contact-img.jpg' %}" class="split-first-img" alt="split-right-img">
        </div>
    </div>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}

{% endblock %}