{% extends "base.html" %}
{% load static %}

{% block title %}Test{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'candelight_website/main_page/css/main_page.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        {% include "candelight_website/header.html" %}
    </div>
</div>

<div id="MainPageCarousel" class="carousel slide carousel-fade mp-carousel" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'candelight_website/main_page/images/main-page-carousel-1.jpg' %}" class="d-block w-100 mp-carousel-img" alt="carousel-image-1">
            <div class="carousel-caption d-md-block">
                <p>Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'candelight_website/main_page/images/main-page-carousel-2.jpg' %}" class="d-block w-100 mp-carousel-img" alt="carousel-image-2">
            <div class="carousel-caption d-md-block">
                <p>Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#MainPageCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#MainPageCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="empty-room-div">
    <div>
        <img src="{% static 'candelight_website/main_page/images/main-page-carousel-empty-room.jpg' %}" class="empty-room-img" alt="empty-room-img" >
    </div>
    <div class="empty-room-text mx-2">
        <p>Lorem ipsum dolor sit amet</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-6 left-side-split">
            <img src="{% static 'candelight_website/main_page/images/Galeria-Mokotów.jpg' %}" class="split-first-img" alt="split-left-img">
        </div>
        <div class="col-lg-6 split-first-text-div">
            <div class="split-first-text">
                <p>Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="row">
        <div class="col-lg-6 split-second-text-div">
            <div class="split-second-text">
                <p>Lorem ipsum dolor sit amet</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
            </div>
        </div>
        <div class="col-lg-6 right-side-split">
            <img src="{% static 'candelight_website/main_page/images/main-page-contact-img.jpg' %}" class="split-first-img" alt="split-left-img">
        </div>
    </div>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}

{% endblock %}