{% extends "base.html" %}
{% load static %}
{% block title %}Our Products{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'candelight_website/products_page/css/products_page.css' %}">
{% endblock %}

{% block content %}
<div class="navigation-bar">
    <div class="container">
        <div class="row">
            {% include "candelight_website/header.html" %}
        </div>
    </div>
</div>



<div class="container">
    <div class="row">
        <div class="col-xl-2 col-lg-12 col-md-12">
            <!-- Sidebar -->
            <div class="flex-shrink-0" style="width: 180px;">
                <a href="{% url 'products_page' %}" class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                    <h4 class="fs-5 fw-semibold mt-3 text-center">Products</h4>
                </a>
                <ul class="list-unstyled ps-0">
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed" data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false" onclick="toggleArrow(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
                            </svg>
                            Internal
                        </button>
                        <div class="collapse" id="home-collapse" style="">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-2 small">
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Recessed">Recessed</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Recessed mounted profile">Recessed mounted profile</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Surface mounted and suspended: downlight, spotlight">Surface mounted and suspended: downlight, spotlight</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Surface-mounted and suspended profile">Surface-mounted and suspended profile</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Architectural">Architectural</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Track mounted spotlights">Track mounted spotlights</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Magnetic track Systems">Magnetic track Systems</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Desktop and standalone">Desktop and standalone</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Wall fixtures">Wall fixtures</button></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1">
                        <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false" onclick="toggleArrow(this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8m-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5"/>
                            </svg>
                            External
                        </button>
                        <div class="collapse" id="dashboard-collapse">
                            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Park pole">Park pole</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Park Bollard">Park Bollard</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Wall and ceiling fixtures">Wall and ceiling fixtures</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Illumination fixtures">Illumination fixtures</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="In-Ground fixtures">In-Ground fixtures</button></li>
                                <li><button class="btn btn-outline-dark product-type-btn mx-3 my-1 product-btn" data-type-id="Street luminaries and floodlights">Street luminaries and floodlights</button></li>
                            </ul>
                        </div>
                    </li>
                    <li class="border-top my-3"></li>
                </ul>
            </div>
        </div>
        <div class="col-xl-10 col-lg-12 col-md-12">
            <div class="row">
                <h1>All Products</h1>
            </div>
            <div class="row products-row">
                {% for product in all_products %}
                <div class="cox-xl-3 col-lg-3 col-md-6">
                    <div class="product-div">
                        <img src="{{ product.main_image.url }}" class="product-img" alt="test-img">
                        <h5 class="product-text">{{ product.name }}</h5>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    function toggleArrow(button) {
        const arrowIcon = button.querySelector('.bi');
        arrowIcon.classList.toggle('bi-arrow-bar-right');
        arrowIcon.classList.toggle('bi-arrow-bar-down');
    }

    $(document).ready(function() {
        console.log('jQuery version:', $.fn.jquery);

        $('.product-type-btn').click(function() {
            console.log('Button clicked');

            // Remove the 'active' class from all buttons
            $('.product-type-btn').removeClass('active');

            // Add the 'active' class to the clicked button
            $(this).addClass('active');

            var typeId = $(this).data('type-id');
            console.log('Type ID:', typeId);

            $.ajax({
                url: `/get_products/${typeId}/`,  // Adjust the endpoint for products
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Clear existing content in the container
                    $('.products-row').empty();

                    // Iterate through the fetched data and append it to the container
                    for (var i = 0; i < data.length; i++) {
                        $('.products-row').append(`
                            <div class="col-xl-3 col-lg-3 col-md-6">
                                <div class="product-div">
                                    <img src="${data[i].main_image}" class="product-img" alt="Product Image">
                                    <h5 class="product-text">${data[i].name}</h5>
                                </div>
                            </div>
                        `);
                    }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>

{% endblock %}
