{% extends "base.html" %}
{% load static %}

{% block title %}Realisation{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'candelight_website/realisation_page/css/realisation_page.css' %}">
{% endblock %}

{% block content %}

{% include "candelight_website/header.html" %}

<div class="container">
    <div class="row">
        <h3 class="mt-3">{{realisation_object.object}}</h3>
        <ul>
            <li>
                <h5>Aranżacja: {{realisation_object.arrangement}}</h5>
            </li>
            {% if realisation_object.design_office == "" %}
            <li>
                <h5>Biuro Projektowe: ...</h5>
            </li>
            {% else %}
            <li>
                <h5>Biuro Projektowe {{realisation_object.design_office}}</h5>
            </li>
            {% endif %}
            {% if realisation_object.photo == "" %}
            <li>
                <h5>Autor Zdjęcia: ...</h5>
            </li>
            {% else %}
            <li>
                <h5>Zdjęcia: {{realisation_object.arrangement}}</h5>
            </li>
            {% endif %}
        </ul>
    </div>
</div>

<div class="first-container-div mb-3">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <img src="{{ realisation_object.image.url }}" class="first-container-img" alt="realisation-first-image">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        {% for photo in realisation_photos %}
            <div class="col-lg-2 col-md-2 small-photos-div">
                <img src="{{ photo.photo.url }}" class="clickable-image small-photos" alt="{{realisation_object.object }}-image" data-image-src="{{ photo.photo.url }}">
            </div>
        {% endfor %}
    </div>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var clickableImages = document.querySelectorAll('.clickable-image');

        clickableImages.forEach(function (image) {
            image.addEventListener('click', function () {

                var imageUrl = image.getAttribute('data-image-src');
                console.log('Clicked image URL:', imageUrl);

                showImageModal(imageUrl);
            });
        });

        function showImageModal(imageUrl) {

            var modal = document.createElement('div');
            modal.className = 'modal';

            var modalImage = document.createElement('img');
            modalImage.src = imageUrl;
            modal.appendChild(modalImage);

            document.body.appendChild(modal);

            modal.addEventListener('click', function () {
                console.log('Closing modal');
                document.body.removeChild(modal);
            });
        }
    });
</script>
{% endblock %}