{% extends "base.html" %}
{% load static %}

{% block title %}Realisations{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'candelight_website/realisations_page/css/realisations_page.css' %}">
{% endblock %}

{% block content %}
<div class="navigation-bar">
    <div class="container">
        <div class="row">
            {% include "candelight_website/header.html" %}
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <h1 class="intro-title">Realizacje</h1>
    </div>
</div>

<div class="container first-container">
    <img src="{% static 'candelight_website/realisations_page/images/realisation-first-image.jpg' %}" class="first-container-img" alt="realisation-first-image">
</div>
<hr>

<div class="container">
    <button class="btn btn-outline-dark realization-type-btn active" data-type-id="all">Wszystko</button>
    {% for type in button_types %}
        <button class="btn btn-outline-dark realization-type-btn" data-type-id="{{ type.id }}">{{ type.type }}</button>
    {% endfor %}
</div>
<hr>

<div class="container realizations-container">
    <div class="row this-row">
        {% for data in realization_data %}
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                <a href="{% url 'realisation_page' slug=data.slug %}">
                    <img src="{{data.image_url}}" class="realisation-image mx-auto d-flex" alt="Realization-Image">
                    <h5 class="objects-text">{{ data.object }}</h5>
                </a>
            </div>
        {% endfor %}
    </div>
</div>

{% include "candelight_website/footer.html" %}{% with year=year%}{% endwith%}
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function() {
        $('.realization-type-btn').click(function() {
            // Remove the 'active' class from all buttons
            $('.realization-type-btn').removeClass('active');

            // Add the 'active' class to the clicked button
            $(this).addClass('active');

            var typeId = $(this).data('type-id');

            // Handle "All" button separately
            if (typeId === 'all') {
                typeId = 0; // Set a value to indicate no filtering
            }

            $.ajax({
                url: `/get_realizations/${typeId}/`,
                type: 'GET',
                dataType: 'json',
                success: function(data) {
                    // Clear existing content in the container
                    $('.this-row').empty();

                    // Iterate through the fetched data and append it to the container
                        for (var i = 0; i < data.length; i++) {
                            // Use the correct URL without Django template tags
                            var url = `/realisations/${data[i].slug}`;
                            $('.this-row').append(`
                            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-12">
                                <a href="${url}">
                                    <img src="${data[i].image_url}" class="realisation-image mx-auto d-flex" alt="Realization Image">
                                    <h5 class="objects-text">${data[i].object}</h5>
                                </a>
                            </div>
                            `);
                        }
                    },
                error: function(error) {
                    console.log(error);
                }
            });
        });
    });
</script>
{% endblock %}

