.first-container {
    height: 36vh;
    position: relative;
    overflow: hidden; /* Ensure the text doesn't overflow on smaller screens */
}

.first-container-img {
    width: 100%;
    height: 100%; /* Use 100% height to fill the container */
    object-fit: cover; /* Maintain aspect ratio and cover the entire container */
}

.intro-title {
    text-align: center;
    margin: 15px 0px;
    font-size: 2em; /* Increase font size for better readability */
}

.intro-text {
    text-align: justify;
    margin: 15px 0px;
    font-size: 1.1em;
}

.realisation-div {
    height: 25vh;
    width: 25vh;
}

.realisation-image {
    max-width: 100%;
    height: 30vh; /* Set a fixed height */
    object-fit: cover; /* Scale the image to cover the container, preserving aspect ratio */
}

.realisation-image:hover {
    transform: scale(1.05);
}

.realisation-text {
    text-align: justify;
}

.objects-text {
    margin: 10px 0px;
    font-weight: bold;
}

.realization-type-btn {
    margin: 5px;
}

@media only screen and (max-width: 768px) {
    .first-container-text {
        max-width: 90%; /* Adjust max-width for smaller screens */
    }

    .intro-title {
        font-size: 1.5em; /* Adjust font size for smaller screens */
    }

    .intro-text {
        font-size: 0.7em; /* Adjust font size for smaller screens */
    }

    .realisation-image {
        height: auto;
    }
}
