.first-div-text {
    margin: 15px 0;
    padding: 5px 0;
    text-align: justify;
    font-size: 1em;
}

.second-div-text {
    margin: 15px 0;
    padding: 5px 0;
    text-align: justify;
    font-size: 1em;
}

.odd-div {
    background-color: white;
}

.even-div {
    background-color: #B6BBC4;
}

.first-div {
    height: 55vh;
}

.first-div-img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.row {
margin: 0px;
}

.split-first-img {
    width: 100%;
    height: 60vh;
    object-fit: cover;
}

.left-side-split {
padding: 0px;
}

.split-first-text-div {
    height: 60vh;
    position: relative;
    text-align: justify;
}

.split-first-text {
    position: absolute;
    max-width: 400px;
    height: 12vh;
    top: 10%;
    left: 14%;
    color: black;
    font-size: 0.8em;
    text-align: justify;
}

.right-side-split {
padding: 0px;
}

.split-second-text-div {
    height: 60vh;
    position: relative;
    text-align: justify;
}

.split-second-text {
    position: absolute;
    max-width: 400px;
    height: 12vh;
    top: 10%;
    left: 9%;
    color: black;
    font-size: 0.8em;
    margin: 8px;
    text-align: justify;
}

@media only screen and (max-width: 768px) {
    .split-first-text, .split-second-text  {
        text-align: justify;
        right: 15%;
    }

    .split-first-text h5, .split-second-text h5 {
        margin-top: 10px;
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }

    .split-first-text p, .split-second-text p {
        font-size: 0.8em; /* Adjust font size for smaller screens */
    }
}
