.navigation-bar {
    background-color: #fffff;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    color: black;
}

.navigation-bar-buttons {
    color: black;
    width: 9vw;
    text-align: center;
    font-weight: bold;
}

.navigation-bar-buttons:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
}

.footer-bar {
    background-color: black;
    color: #fff;
}

.footer-bar-buttons {
    color: white;
    text-align: center;
    font-size: 12px;
}

.footer-bar-buttons:hover {
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}

.footer-logo {
    color: white;
    font-size: 20px;
    margin: 0px;
}