.navigation-bar {
    background-color: #fffff;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgrey;
    color: black;
}

.navigation-bar-buttons {
    color: black;
    width: 9vw;
    text-align: center;
    font-weight: bold;
}

.navigation-bar-buttons:hover {
    color: lightgrey;
    text-decoration: underline;
    text-decoration-color: red;
}
